body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    text-align: center;
    color: #fff;
}
#video, #loading {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #999
}
a {
    color: #000
}
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%
}
source {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto
}
#loading {
    text-align: center;
    padding-top: 20%
}
h2 {
    color: #ccc;
    margin: 0;
    font: 1.1em'微软雅黑';
    text-transform: uppercase;
    letter-spacing: .1em
}
#loading span {
    display: inline-block;
    vertical-align: middle;
    width: .6em;
    height: .6em;
    margin: .19em;
    background: #007DB6;
    border-radius: .6em;
    -webkit-animation: loading 1s infinite alternate;
    animation: loading 1s infinite alternate
}
#loading span:nth-of-type(2) {
    background: #008FB2;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}
#loading span:nth-of-type(3) {
    background: #009B9E;
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}
#loading span:nth-of-type(4) {
    background: #00A77D;
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}
#loading span:nth-of-type(5) {
    background: #00B247;
    -webkit-animation-delay: .8s;
    animation-delay: .8s
}
#loading span:nth-of-type(6) {
    background: #5AB027;
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}
#loading span:nth-of-type(7) {
    background: #A0B61E;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}
#loading .timemsg {
    font-size: 16px;
    color: #f00;
    font-weight: bold;
    font-style: inherit
}
@-webkit-keyframes loading {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes loading {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@media (max-width:767px) {
    #loading {
        text-align: center;
        padding-top: 20%
    }
}
.total {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 5px;
    padding: 5px
}
.total span {
    margin-right: 3px
}
#ad_foot, #ad_top {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    z-index:2147483646
}
#ad_top .ad_djs {
    display:none;
}
#ad_foot .ad_djs {
    display:none;
    height:24px;
    line-height:24px;
    font-size:16px;
    position:fixed;
    margin-left:5px;
    top:1.8px;
    right:5px;
    overflow:hidden;
    color:#fff;
    z-index:2147483647
}

#ad_foot .ad_djs .time {
    color:#0f0
}
#ad_foot .ad_djs .bf {
    display:none;
    top:3px;
    width:90px;
    height:23px;
    font-size:16px;
    color:#fff;
    float:right;
    margin-left:5px;
    text-align:center;
    background:#d20000;
    border-radius: 15px 15px 15px 15px;
    cursor:pointer
}